@import "reset";

//! Container
.container {
    width: 75vw;
    margin: 0 auto;
}

//// Header Form
.form {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        label {
            margin-right: calc(1.9vh + 1.9vw);
            font-size: calc(0.8vh + 0.8vw);
            transition: all 0.3s ease-out;

            &:active {
                transform: scale(0.9);
            }
        }

        select {
            width: calc(7vh + 7vw);
            margin-left: calc(0.5vh + 0.5vw);
            outline: none;
            height: calc(1.8vh + 1.8vw);
            border: none;
            background-color: #caebff;
            transition: all 0.3s ease-out;
            cursor: pointer;
        }
    }

    .btn {
        font-family: "Roboto", sans-serif;
        font-size: calc(0.7vh + 0.7vw);
        font-weight: 700;
        border: none;
        border-radius: calc(0.3vh + 0.3vw);
        outline: none;
        cursor: pointer;
        height: calc(1.8vh + 1.8vw);
        width: calc(5vh + 5vw);
        background-color: #1688d4;
        color: #fff;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: #62bffd;
            font-size: calc(0.65vh + 0.65vw);
        }

        &:active {
            transform: scale(0.85);
        }
    }
}

//// Table
table {
    height: 75vh;
    width: 100%;
    table-layout: fixed;
    display: block;

    thead {
        height: 10%;
    }

    tbody {
        height: 85%;
        display: block;
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        tr {
            &:nth-of-type(even) {
                background-color: #caebff;
            }
        }
    }

    th,
    td {
        width: 10.6rem;
        padding: calc(1vh + 1vw) calc(1vh + 1vw);
        font-size: calc(0.9vh + 0.9vw);
    }

    th {
        background-color: #caebff;
    }

    td {
        text-align: center;
    }
}

//// Footer
.footer {
    height: 10vh;
    font-size: calc(0.8vh + 0.8vw);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
